/* mobile */
*{
  box-sizing: border-box;
}
body{
  width: 480px;
  margin: auto;
  background-color: lightblue;
}


/* tab */
@media only screen and (min-width:540px) {
  body{
    width: 740px;
    margin: 0 auto;
    background-color: lightgreen;
  }
}


/* desktop */
@media only screen and (min-width:768px) {
  body{
    width: 960px;
    background-color: lightseagreen;
  }
}
