/* mobile */

header{
  height: 75px;
}
#first{
  display:flex;
}
.first-row{
  height:125px;
  width: 100%;
}

aside{
  height: 150px; 
}
.container-250{
  
  height:250px;
  width:240px;
}

footer{
  height: 80px;
}
