header{
  height: 75px;
  border: 1px black solid;
}
.first-row{
  height:125px;
}
aside{
  border: 1px black solid;
  height: 150px; 
}
.container-250{
  height:250px;
  width:240px;
  float: right;
}
article{
  border: 1px black solid;
}
#third{
  height: 80px;
  border: 1px black solid;
  clear: right;
}

/* desktop */
@media only screen and (min-width:768px) {
  header{
    height: 100px;
  }

aside {
  float: left;
  width: 200px;
  height: 600px;
}
.first-row{
  float: right;
  width:380px;
  height: 200px;

}

.container-250{
  height:250px;
  width:190px;
}
#third{
  height:150px;
  width:760px;
  float:left;

}
}