/* mobile */

header{
  height: 75px;
}
aside{
  height: 150px; 
}

.first-row{
  height: 150px;
}

.second-row{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.container-250{
  height:250px;
}

footer{
  height: 80px;
}

@media only screen and (min-width:600px) and (max-width:768px){

  .first-row{
    width: 325px;
    height: 400px;
    float: right;
  }
  .container-250{
    width: 325px;
  }
}
/* desktop */
@media only screen and (min-width:768px) {
  header{
    height: 100px;
  }
aside {
  width: 200px;
  height: 600px;
}

.first{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.first-row{
  width:380px;
  height: 200px;

}
.second-row{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.container-250{
  height:250px;
  width:190px;
}
footer{
  height:150px;
  width:760px;
}
}